<div class="pickback">
      <div class="row">
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2
 text-center padding-top">
    <div class="card hovercard">
        <div class="useravatar">
          <% if @shop.picture.present? %>
            <%= image_tag @shop.picture.url(:thumb) %>
          <% else %>
            <%= image_tag ("GetNGo1.png") %>
          <% end %>
        </div>
        <div class="card-info"> <span class="card-title"><%= @shop.name %></span>

        </div>
      <div class="tab-content">
      <h1>Shop details</h1>
        <strong>Name:</strong> <%= @shop.name %><br>
        <strong>Categories:</strong>
        <ul class="list-unstyled">
          <% @shop.categories.each do |category| %>
          <li><%= category.name %></li>
          <% end %>
        </ul>
        <strong>Street address:</strong> <%= @shop.street_address %><br>
        <strong>City:</strong> <%= @shop.city %><br>
        <strong>Postcode:</strong> <%= @shop.postcode %><br>
        <strong>Country:</strong> <%= @shop.country %><br>
        <strong>Phone:</strong> <%= @shop.phone %><br>
        <strong>Contact email:</strong> <%= @shop.contact_email %><br>
        <%#= image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=@shop.full_address&zoom=13&scale=false&size=400x300&maptype=roadmap&format=png&visual_refresh=true' %><br>

<% if shop_signed_in? %>
<%= link_to 'Edit your shop details', edit_shop_path(@shop), class: "btn btn-primary" %>
<%= link_to 'Add a new sale', new_shop_sale_path(@shop), class: "btn btn-primary" %>
<% end %>
        </div>
    </div>
    </div>
  </div>
  </div>
</div>

