<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <%= link_to image_tag("GetNGo1.png", :alt => "image", width:"130", class: "navbar-brand page-scroll"), root_path %>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <% if customer_signed_in? || shop_signed_in?  %>
                <li>
                <a class="page-scroll" href="/customers">Sales near you</a></li>
                <li>
                <a class="page-scroll" href="/#contact">Contact</a></li>
                <li class="dropdown">
                      <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Profile
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="drop2">
                      <% if customer_signed_in? || shop_signed_in? %>
                      <style>
                        .navbar-default {
                          padding: 0;
                          background-color: black;
                        }
                      </style>
                        <li><%= link_to "View profile", customer_path(current_customer) %></li>
                      <% else %>
                        <li><%= link_to "View profile", shop_path(current_shop) %></li>
                      <% end %>
                        <li><%= link_to destroy_customer_session_path || destroy_shop_session_path, method: :delete do %>
                        <%= t ".sign_out", default: "Log out" %></li>
                        <% end %>
                      </ul>
                    </li>
                    <% else %>
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li class="dropdown">
                      <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Sign up
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="drop2">
                        <li><%= link_to "Customer", new_customer_registration_path %></li>
                        <li><%= link_to "Shop", new_shop_registration_path %></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Login
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="drop2">
                        <li><%= link_to "Customer", new_customer_session_path %></li>
                        <li><%= link_to "Shop", new_shop_session_path %></li>
                      </ul>
                    </li>
                  </ul>
                <% end %>
                    </div><!-- /.navbar-collapse -->
              </div><!-- /.navbar-collapse -->
    </nav>
