 <div class="card-product-container">
        <div class="card-product">
          <% if sale.picture.present? %>
              <%= image_tag sale.picture.url(:thumb) %>
            </p>
          <% else sale.shop.picture.present? %>
          <% end %>
          <h1><%= sale.shop.name %></h1>
          <h4>Product: <%= sale.product_name %></h4></p>
          <p>Price (EUR): <strong><%= sale.price %></strong></p>
          <p>Terms & conditions: <strong><%= sale.terms %></strong></p>
          <p>Sale ends at: <strong><%= sale.ending.strftime("%H:%M") %></strong></p>
        <%= link_to 'View sale details', shop_sale_path(sale.shop, sale), class: "btn btn-primary" %>
      </div>
    </div>
