 <div class="card-product-container">
        <div class="card-product">
       <div class="carte-thumbnail">


       </div>
          <h1><%= sale.shop.name %></h1>
          <h4><%= sale.product_name %></h4></p>
          <p><strong><%= sale.price %>€</strong></p>
          <p><strong><%= sale.terms %></strong></p>
        <%= link_to 'View sale details', shop_sale_path(sale.shop, sale), class: "btn btn-danger" %>
      </div>
    </div>
