 <div class="card-product-container">

  <%= link_to shop_sale_path(sale.shop, sale) do %>
    <div class="card-product">
     <% if sale.picture.present? %>
          <% image = image_url sale.picture.url %>
        <% else %>
          <% image = image_url ("GetNGo1.png") %>
        <% end %>
      <div class="card-product-thumbnail" style="background-image: url('<%= image %>')" >

      </div>

      <div class='card-product-shop-name'>
        <%= sale.shop.name %>
        <div class='card-product-terms'><%= sale.terms %></div>

      </div>
      <div class='card-product-sentence'>
        Product in sale: <span class='card-product-name'><%= sale.product_name %></span> for $<span class='card-product-price'><%= sale.price %>€</span>
      </div>
      <div class="card-product-footer">
        <div class='card-product-ending'>Sale ends at:
          <%= sale.ending.strftime('%H:%M:%S') %>
        </div>
      </div>
    </div>
  <% end %>
</div>
