<%= form_tag customers_path, method: :get do %>
  <div class="welll no-margin-bottom">
  <h4><%= label_tag 'Enter your search location:   ' %>  <%= text_field_tag 'query[base_location]', @search[:base_location], :value => @customer.base_location %>
    </h4>

    </div>
    <div class="welll no-margin-bottom">
    <% counter = 0 %>
       <div> <%= label_tag 'Choose a category:' %></div>
      <% @categories.each do |category| %>
        <% counter += 1 %>
        <div class="category-list">
          <%= check_box_tag 'query[category][]', category.id, @customer.category_ids.include?(category.id) ? true : false %>

          <% if counter == 3 %>
            <%= category.name %><br>
          <% elsif counter == 6 %>
            <%= category.name %><br>
          <% else %>
            <%= category.name %>
        <% end %>
        </div>
      <% end %><br>

    <% end %>
    <div class="btn-search-sale"><%= submit_tag 'Find my sale', class: "btn btn-primary-margin" %></div>
  </div>

