<div class= "backgroundwhite">
<div class="site-container">
  <div class="sidebar">
  <div class="search-product-container">
  <%= form_tag customers_path, method: :get do %>
  <%= label_tag 'Enter your search location:' %>
  <%= text_field_tag 'query[base_location]', @search[:base_location], :value => @customer.base_location %><br>
  <% end %>
  <%= submit_tag 'Find your sale!', class: "btn btn-primary" %>
  </div>
    <% @sales.each do |sale| %>
      <div class="card-product-container">
        <div class="card-product">
          <% if sale.picture.present? %>
            <p>
              <%= image_tag sale.picture.url, class: "pictureindex" %>
            </p>
          <% elsif sale.shop.picture.present? %>
            <p>
              <%= image_tag sale.shop.picture.url(:thumb) %>
            </p>
          <% else %>
            <p><%= image_tag("GetNGo1.png", width: '35%') %></p>
          <% end %>
          <p><strong>Shop:</strong><%= sale.shop.name %></p>
          <p><strong>Product:</strong><%= sale.product_name %></p>
          <p><strong>Price:</strong><%= sale.price %></p>
          <p><strong>Terms:</strong><%= sale.terms %></p>
          <p><strong>Sale ends at:</strong><%= sale.ending %></p>
        <%= link_to 'View sale details', shop_sale_path(sale.shop, sale), class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="map-container">
    <div id="map" class="thumbnail" style="width: 100%; height: 100%;"></div>
  </div>
</div>
</div>

<% content_for(:after_js) do %>
 <%= javascript_tag do %>
   $(document).on('ready', function() {
     handler = Gmaps.build('Google');
     handler.buildMap({ internal: { id: 'map' } }, function(){
       markers = handler.addMarkers(<%= raw @markers.to_json %>);
       handler.bounds.extendWith(markers);
       handler.fitMapToBounds();
     });
   })

 <% end %>
<% end %>
