<div class="container">
  <div class="row text-center">
    <h1>Today we bring the following sales near you</h1>
    <div class="col-xs-12 col-md-6 text-center">
          <div class="col-sm-6 col-md-6 xs-padded">
            <div class="thumbnail">
              <div class="caption">
      <% @sales.each do |sale| %>
        <% if sale.picture.present? %>1
          <p><%= image_tag sale.picture.url(:thumb) %></p>
        <% else %>
          <p><%= image_tag sale.shop.picture.url(:thumb) %></p>
        <% end %>
    <p><strong>Shop:</strong> <%= sale.shop.name %></p>
    <p><strong>Product name:</strong> <%= sale.product_name %></p>
    <p><strong>Price:</strong> <%= sale.price %></p>
    <p><strong>Terms & conditions:</strong> <%= sale.terms %></p>
    <p><strong>Sale starts at:</strong> <%= sale.starting %></p>
    <p><strong>Sale ends at:</strong> <%= sale.ending %></p>
    <p class="text-center">
    <%= link_to 'View sale details', shop_sale_path(sale.shop, sale), class: "btn btn-primary" %><br><br><br>
    <% end %>

    </p>
              </div>
            </div>
          </div>
    </div>


    <div class="col-xs-12 col-md-6 xs-padded">
      <!-- placeholder for the map -->
      <div id="map" class="thumbnail" style="width: 100%; height: 600px;"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
 <%= javascript_tag do %>
   $(document).on('ready', function() {
     handler = Gmaps.build('Google');
     handler.buildMap({ internal: { id: 'map' } }, function(){
       markers = handler.addMarkers(<%= raw @markers.to_json %>);
       handler.bounds.extendWith(markers);
       handler.fitMapToBounds();
     });
   })
 <% end %>
<% end %>
