<div class="pickpick">
      <div class="row">
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2
 text-center padding-top">
     <div class="card hovercard">
        <div class="useravatar">
            <%= image_tag @customer.picture.url(:thumb) %>
        </div>
<div class="row">
<div class="container text-center">


        <div class="card-info"> <span class="card-title"><%= @customer.first_name %></span>

        </div>

    </div>
        <div class="well margin-left-right">
      <div class="tab-content">
      <h1>Profile details</h1>
            <strong>Name:</strong> <%= @customer.first_name %><br>
            <strong>Age:</strong> <%= @customer.age %><br>
            <strong>Base location:</strong> <%= @customer.base_location %><br>
            <h3>Categories of interest</h3>
            <strong>Categories:</strong><br>
            <% @customer.categories.each do |category| %>
            <%= category.name %><br>
            <% end %>
        <% if customer_signed_in? %>
        <%= link_to 'Edit your profile details', edit_customer_path(@customer), class: "btn btn-primary" %>
        <% end %>
        </div>
    </div>

    </div>
  </div>
  </div>

