<h1>This shop currently has the following active sales:</h1>

<% @shop.sales.each do |sale| %><br>
<strong>Sales category:</strong> <%= sale.category.name if sale.category %><br>
<strong>Product name:</strong> <%= sale.product_name %><br>
<strong>Price:</strong> <%= sale.price %> euros <br>
<strong>Sales terms & conditions:</strong> <%= sale.terms %><br>
<%= link_to 'View sale details', shop_sale_path(@shop, sale), class: "btn btn-primary" %>
<br><br>
<% end %>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
