<h1>This shop currently has the following active sales:</h1>

<% @shop.sales.each do |sale| %><br>
<strong>Sales category:</strong> <%= sale.category.name if sale.category %><br>
<strong>Product name:</strong> <%= sale.product_name %><br>
<strong>Price:</strong> <%= sale.price %> euros <br>
<strong>Sales terms & conditions:</strong> <%= sale.terms %><br>
<%= link_to 'View sale details', shop_sale_path(@shop, sale), class: "btn btn-primary" %>
<br><br>
<% end %>
<%= link_to 'Back to shop profile', shop_path(@shop), class: "btn btn-primary" %>

<% if shop_signed_in? %>
<%= link_to 'Add a new sale', new_shop_sale_path(@shop), class: "btn btn-primary" %>
<% end %>
