<h1>Add a new sale</h1>

<%= simple_form_for [@shop, @sale] do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div class="card-block shadowed-box text-center">
        <div class= "sizee">
          <div class="form-inputs">
            <%= f.association :category %>
            <%= f.input :product_name %>
            <%= f.input :product_description %>
            <%= f.input :product_quantity %>
            <%= f.input :picture %>
            <%= f.input :price, as: :currency %>
            <%= f.input :terms %>
            <%= f.input :starting, as: :time %>
            <%= f.input :ending, as: :time %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class ="sizee">
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>_
