<body>
  <div class="wrap">
    <div class="single_deal">
      <div class="content" style="background-image: url(<%= raw @sale.picture.url %>) ">
        <div class="hover">
           <div class="description">
        <h2>Sales details</h2>
        <strong>Category: </strong> <%= @sale.category.name %><br>
        <strong>Product description: </strong> <%= @sale.product_description %><br>
        <strong>Product quantity: </strong> <%= @sale.product_quantity %><br>
        <strong>Terms & conditions: </strong> <%= @sale.terms %><br>

        <strong>Sale starts at: </strong> <%= @sale.starting.strftime("%H:%M") %><br>
        <strong>Sale ends at: </strong> <%= @sale.ending.strftime("%H:%M") %><br>

        <strong>Street address: </strong> <%= @shop.street_address %><br>
        <strong>City: </strong> <%= @shop.city %><br>
        <strong>Phone: </strong> <%= @shop.phone %><br>

          </div>
          <div class="call_to_action text-center">
            <% if shop_signed_in? && current_shop == @shop %>
<%= link_to 'Back to shop sales list', shop_sales_path(@shop), class: "btn btn-primary" %><br><br>
<%= link_to 'Edit sale details', edit_shop_sale_path(@shop, @sale), class: "btn btn-primary" %><br><br>
<%= link_to 'Delete this sale', shop_sale_path(@shop, @sale), method: :delete, data: {confirm: "Do you really wish to delete this sale?"}, class: "btn btn-primary" %>
<% else %>
<%= link_to 'Get map directions', "//maps.google.com/maps?daddr=#{@shop.full_address}", target: '_blank', class: "btn btn-primary" %><br><br><br>
<%= link_to 'Back to your sales list', :back, class: "btn btn-primary" %>
<% end %>
          </div>
        </div>

      </div>
      <div class="title">
        <h1 class="name"><%= @sale.product_name %></h1>
        <h1 class="price">€<%= @sale.price %></h1>
      </div>
    </div>

     <% if @sale.picture.present? %>
          <% image = image_url @sale.picture.url %>
        <% else %>
          <% image = image_url ("GetNGo1.png") %>
        <% end %>
