<div class="picturefashion">
      <div class="row">
<div class="col-lg-12 text-center padding-top col-lg-12">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <%#= image_tag @shop.picture.url(:thumb) %>
        </div>

<div class="row">
<div class="container text-center">
<h1>Sale details</h1>
  <strong>Shop:</strong> <%= @shop.name %><br>
  <strong>Categories:</strong>
  <ul>
    <% @sale.categories.each do |category| %>
    <li><%= category.name %></li>
    <% end %>
  </ul>
  <strong>Product name:</strong> <%= @sale.product_name %><br>
  <strong>Product description:</strong> <%= @sale.product_description %><br>
  <strong>Product quantity:</strong> <%= @sale.product_quantity %><br>
  <strong>Price:</strong> <%= @sale.price %><br>
  <strong>Terms & conditions:</strong> <%= @sale.terms %><br>
  <strong>Sale starts at:</strong> <%= @sale.country %><br>
  <strong>Sale ends at:</strong> <%= @sale.opening %><br>
  <strong>Street address:</strong> <%= @shop.street_address %><br>
  <strong>City:</strong> <%= @shop.city %><br>
  <strong>Phone:</strong> <%= @shop.phone %><br>
  <strong>Contact email:</strong> <%= @shop.contact_email %><br>

<%= image_tag @sale.picture.url(:medium) %><br>

<% if shop_signed_in? && current_shop == @shop %>
<%= link_to 'Edit your sale details', edit_shop_sale_path(@shop, @sale), class: "btn btn-primary" %>
<% end %>
       </div>
      </div>
    </div>
  </div>
