<body>
  <div class="wrap">
    <div class="single_deal">
      <div class="content" style="background-image: url(<%= raw @sale.picture.url %>) ">
        <div class="hover">
           <div class="description">
           <p>Excuse me. I'll call you tonight. Right. Yeah, I think maybe you do. Wait a minute, wait a minute, Doc, are you telling me that you built a time machine out of a delorean.</p>
           <p>Um, well it's a delorean, right? Yeah okay. Wow, ah Red, you look great. Everything looks great. 1:24, I still got time. Oh my god. No, no not again, c'mon, c'mon. Hey. Libyans. Yeah, well uh, lets keep this brain melting stuff to ourselves, okay? Yeah, yeah what are you wearing, Dave.</p>

          </div>
          <div class="call_to_action">
            <% if shop_signed_in? && current_shop == @shop %>
<%= link_to 'Back to shop sales list', shop_sales_path(@shop), class: "btn btn-primary" %>
<%= link_to 'Edit sale details', edit_shop_sale_path(@shop, @sale), class: "btn btn-primary" %>
<%= link_to 'Delete this sale', shop_sale_path(@shop, @sale), method: :delete, data: {confirm: "Do you really wish to delete this sale?"}, class: "btn btn-primary" %>
<% else %>
<%= link_to 'Get map directions', "//maps.google.com/maps?daddr=#{@shop.full_address}", target: '_blank', class: "btn btn-primary" %>
<%= link_to 'Back to your sales list', :back, class: "btn btn-primary" %>
<% end %>
          </div>
        </div>

      </div>
      <div class="title">
        <h1 class="name"><%= @sale.product_name %></h1>
        <h1 class="price">€<%= @sale.price %></h1>
      </div>
    </div>

     <% if @sale.picture.present? %>
          <% image = image_url @sale.picture.url %>
        <% else %>
          <% image = image_url ("GetNGo1.png") %>
        <% end %>
